{% extends "base.html" %}

{% block content %}
    <h1>Register</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="col-md-6">
            <p>
                {{ form.username.label(class="control-label") }}<br>
                {{ form.username(type="username", class="form-control", placeholder="John Doe") }}<br>
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}

                {{ form.email.label(class="control-label") }}<br>
                {{ form.email(type="email", class="form-control", placeholder="Enter email") }}<br>
                {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}

                {{ form.password.label(class="control-label") }}<br>
                {{ form.password(type="password", class="form-control", placeholder="Password") }}<br>
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}

                {{ form.password2.label(class="control-label") }}<br>
                {{ form.password2(type="password", class="form-control", placeholder="Repeat password") }}<br>
                {% for error in form.password2.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}

                {{ form.submit(class="btn btn-white", style="background-color: #5ee684;") }}</p>
        </div>
    </form>
{% endblock %}
<p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>